#virtual env
/.venv
/math/plotting/pca.npz
aivenv
data/
/supervised_learning/tensorenv
/reinforcement_learning/deep_q_learning/.venv
/supervised_learning
/reinforcement_learning
/pipeline/apis
# /pipeline/databases
